/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.min.css';
@import 'assets/styles/settings/common';
@font-face {
  font-family: 'FuzzyBubbles';
  src: url("assets/fonts/FuzzyBubbles-Regular.ttf");
}
html, * {
  font-family: 'FuzzyBubbles';
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  color: var(--normal-text-color);
}
body {
  // overflow: hidden;
}
#recommended-f {
  display: none;
}
a {
  width: fit-content;
}
#root {
  background-size: 1920px;
  background-position: 26px 10px;
  background-repeat: no-repeat;
}
.RippleColorTheme {
  .MuiTouchRipple-root * { // custom ripple color
    color: var(--ripple-color-base);
  }
}
.CircleCorners .MuiTouchRipple-root * { // custom ripple color
  border-radius: 50%;
}
.MuiButtonBase-root {
  .MuiTouchRipple-root * {
    color: #fff !important;
    // color: var(--nav-active-detective) !important;
  }
}
.intro {
  font-size: 11px;
  opacity: 0.65;
}
.active-base-controller {
  .MuiFormLabel-root {
    color: var(--normal-text-color);
    opacity: .65;
  }
  .Mui-error:after {
    border-bottom-color: #d32f2f !important;
  }
  .MuiFormLabel-root.Mui-focused {
    color: var(--nav-active-detective);
    opacity: 1;
  }
  .MuiInputBase-root.MuiInput-root {
    color: var(--normal-text-color);
    &:before {
      border-bottom-color: var(--normal-text-color);
      opacity: .65;
    }
    &:after {
      border-bottom-color: var(--nav-active-detective);
    }
    &:hover:not(.Mui-disabled):before {
      border-bottom: 1px solid var(--normal-text-color);
    }
  }
}
.base-nav {
  text-decoration: none;
  width: fit-content;
  * {
    width: fit-content;
  }
  &:hover {
    text-decoration: underline;
    color: var(--nav-active-detective);
  }
}
.can-play {
  position: relative;
}
.my-scrollbar {
  overflow-y: scroll !important;
  &::-webkit-scrollbar-track {
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 10px;
    visibility: hidden;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    visibility: hidden;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 100px;
    background-color: var(--scrollbar-color);
    visibility: hidden;
  }
  &:hover {
    &::-webkit-scrollbar-track {
      visibility: visible;
    }
    &::-webkit-scrollbar {
      visibility: visible;
    }
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}
.dialog-main {
  .dialog-max-body {
    max-height: calc(100% - 140px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .dialog-header {
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: var(--normal-text-color);
  }
  .MuiDialog-paper {
    min-width: 800px;
    background-color: var(--search-filled-bg-color);
  }
}
.dialog-end-btn {
  margin-left: 12px !important;
  text-transform: capitalize !important;
}
.icon-button-self {
  &:hover {
    background-color: var(--nav-btn-active-bg-color) !important;
  }
}
.header-pai {
  font-size: 22px;
  font-weight: bolder;
  color: var(--normal-text-color);
  margin-top: 24px;
}
.sub-header-pai {
  @extend .header-pai;
  font-size: 18px;
  margin-bottom: 12px;
}
.body-cc60 {
  margin: 0 60px;
}
.r-invalid {
  color: #d32f2f;
}
.gb- {
  &song-name {
    font-size: 14px;
    color: var(--song-standout-reflect-color);
  }
  &artist-name {
    font-size: 13px;
    color: var(--standout-main-atist);
  }
  &sub-artist-name, &sub-name {
    font-size: 11px;
    color: var(--standout-main-atist);
  }
}
.heading-button {
  .text {
    @include FontSize(14px);
  }
  padding: 7px 10px !important;
  border-radius: 4px !important;
  svg {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    fill: var(--ctrl-icon);
  }
}
.option-ref {
  .ref-icon {
    width: 20px;
    height: 20px;
    fill: var(--ctrl-icon);
  }
  .mr-df {
    margin-right: 12px;
  }
  .MuiPaper-root {
    background-color: var(--search-filled-bg-color);
    .MuiTouchRipple-root * {
      color: var(--ripple-color-base);
    }
  }
  .add-to-list {
    .sub-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    &.active {
      background-color: var(--nav-btn-active-bg-color);
    }
  }
}
.popover-base {
  .MuiPaper-root {
    background-color: var(--popover-bg);
  }
}
.listened-item {
  cursor: pointer;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
  background-color: var(--right-sb-background-color);
  width: calc(100% / 3 - 12px);
  margin: 6px;
  &.selected {
    background-color: var(--nav-btn-active-bg-color);
  }
  button {
    width: calc(100% - 40px);
  }
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .info {
    width: calc(100% - 52px);
    padding-left: 12px;
    .name {
      font-size: 12px;
      color: var(--standout-song-name);
      margin-bottom: 2px;
    }
    .artist {
      font-size: 10px;
      color: var(--standout-main-atist);
    }
  }
  .lde {
    transition: .2s;
    svg {
      width: 50px;
      height: 50px;
      fill: var(--search-ic-fill);
    }
  }
  .ic-active {
    opacity: 1;
  }
}
/*---------------------animate-----------------------*/
.animate-root {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: deeppink;
  border-radius: 50%;
}
/*  ------------------  Responsive ---------------------- */
@media screen and (min-width: 1684px) {
  .standout-ms-box {
    img {
      width: 25%;
      height: auto;
    }
    .aud-list {
      width: calc(75% - 24px);
    }
  }
  .standout-song {
    .song-wrapper {
      max-width: 70%;
    }
  }
}
@media screen and (max-width: 1616px) {
  .standout-song {
    .tail {
      display: none;
    }
    .name-oversize {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 1462px) {
  .standout-song {
    .sub-art {
      display: none;
    }
  }
}
@media screen and (max-width: 1670px) {
  .artist-box-group {
    margin: 7px -7px 0 -7px !important;
    .recommended-item {
      width: calc(100% / 6 - 14px) !important;
      margin: 7px !important;
    }
  }
}
@media screen and (max-width: 1500px) {
  .artist-box-group {
    .recommended-item {
      width: calc(100% / 5 - 14px) !important;
    }
  }
  .d-navbar .nav-leading {
    width: calc(100% - 168px);
  }
  .slide-gallery .skeleton-4-slide {
    height: 120px;
  }
}
@media screen and (max-width: 1400px) {
  .slide-gallery .skeleton-4-slide {
    height: 211px;
  }
  .artist-box-group {
    .recommended-item {
      width: calc(100% / 4 - 14px) !important;
    }
  }
  .rsb-r {
    position: fixed;
    top: 0;
    left: calc(100% - 12px);
    z-index: 1235;
    .header-pai .expand-right {
      display: flex;
    }
  }
  #root .lsb-r {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    .nav-button {
      min-width: 60px;
      justify-content: center;
    }
    .nav-icon {
      margin: 5px 0;
    }
    .nav-text {
      display: none;
    }
  }
}
@media screen and (max-width: 1200px) {
  .personal .listened-list {
    .listened-item {
      width: calc(50% - 12px);
    }
  }
}
@media screen and (max-width: 1024px) {
  .media-player {
    flex-direction: column;
    .mp-left, .mp-right {
      display: none;
    }
    .mp-center {
      width: 100% !important;
    }
    .mobile-vol-btn {
      display: flex !important;
    }
  }
  .lsb-r {
    display: none;
  }
  .slide-gallery {
    width: calc(100% - 48px) !important;
  }
}
@media screen and (max-width: 768px) {
   #base-var {
    --media-height: 110px !important;
  }
  .body-cc60 {
    margin: 0 24px;
  }
  .personal .listened-list {
    .listened-item {
      width: calc(100%);
    }
  }
}
@media screen and (max-width: 600px) {
  .media-player {
    .mp-center {
      display: none;
    }
    .info-nav {
      display: block !important;
    }
  }
}
