/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.lsb-r {
  width: var(--left-sidebar-width);
  max-width: var(--left-sidebar-width);
  min-width: var(--left-sidebar-width);
  height: 100vh;
}
