.s-detail {
  overflow: hidden;
  .s-info {
    width: 300px;
    margin-left: 40px;
    .decorator {
      width: 280px;
    }
  }
}
.lyrics-box {
  transform: translateY(-48px);
  .header-pai {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.np-ps {
  .profile-songs .list-root .main {
    margin-left: 0;
  }
}
