.d-wrapper {
  padding: 24px;
  min-width: 400px;
}
.create-playlist-dialog {
  .intro {
    font-size: 11px;
    opacity: 0.65;
  }
  .text-field-with-icon {
    padding-top: 5px;
    .MuiFormControl-root {
      width: 100%;
    }
    .Mui-focused {
    }
    #create-playlist {
      padding-right: 35px;
    }
    .create-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      fill: var(--ctrl-icon);
      &.focused {
        fill: var(--nav-active-detective);
      }
    }
  }
}

