.fa-center {
  display: flex;
  align-items: center;
}

.fj-center {
  display: flex;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  align-items: center;
}

.fj-between {
  display: flex;
  justify-content: space-between;
}

.fj-end {
  display: flex;
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cs-pointer {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none !important;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.force-white-color {
  color: white !important;
}
.text-nowrap {
  white-space: nowrap;
}
.w-fit {
  width: fit-content;
}
