
.rsb-r {
  width: var(--right-sidebar-width);
  max-width: var(--right-sidebar-width);
  min-width: var(--right-sidebar-width);
  height: calc(100vh - var(--media-height));
  background: var(--right-sb-background-color);
  overflow: hidden;
  padding-left: 12px;
  .r-head {
    height: var(--nav-height);
    padding-left: 12px;
    margin-top: 0 !important;
  }

}
